html {
  box-sizing: border-box;
  font-family: FontFamilyBody;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.8rem;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
html {
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(#fff, #fff5f5);
  min-height: 100vh;
}
body {
  max-width: 550px;
  margin: 0 auto;
}
.header {
  height: 100px;
  display: flex;
  align-items: center;
}
.header__image {
  margin-left: 30px;
}
.hero {
  width: 100%;
}
.hero__image {
  width: 100%;
  height: auto;
}
.description {
  text-align: center;
  padding: 30px;
}
.description__title {
  font-size: 4rem;
  text-transform: uppercase;
  color: #413a3a;
  letter-spacing: 10px;
  max-width: 400px;
  margin: 0 auto;
}
.description__title--desaturated {
  font-size: 4rem;
  text-transform: uppercase;
  color: #ce9797;
  font-weight: 300;
  letter-spacing: 10px;
  margin-bottom: 0;
}
.description__text {
  color: #ce9797;
}
.description__input {
  text-align: start;
  position: relative;
  padding-top: 5px;
  margin-bottom: 100px;
}
.description__input__text-area {
  height: 50px;
  width: 100%;
  border-radius: 50px;
  border: none;
  border: 1px solid #ce9797;
  padding-left: 15px;
  outline: none;
  font-size: 2rem;
  color: #413a3a;
  background-color: linear-gradient(#fff, #fff5f5);
}
.description__input__text-area.active {
  border: 1px solid #f00;
}
.description__input__text-area::placeholder {
  color: #ce9797;
}
.description__input__button {
  position: absolute;
  width: 90px;
  cursor: pointer;
  height: 52px;
  background: linear-gradient(#f8bfbf, #ee8c8c);
  border: none;
  border-radius: 50px;
  box-shadow: 14px 17px 31px 0px rgba(180,180,180,0.75);
  right: 0;
  margin-top: -1px;
  transition: 0.3s;
}
.description__input__button:hover {
  background: #fdd0d0;
  transform: scale(1.05);
}
.description__input__error-message {
  font-size: 1.4rem;
  margin-top: 4px;
  margin-left: 20px;
  color: #f00;
  display: none;
}
.description__input__error-message.active {
  display: block;
}
@media screen and (min-width: 1000px) {
  body {
    display: grid;
    max-width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr 40%;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header  hero" "content hero";
  }
}
.header {
  padding: 0 20%;
}
.header__image {
  margin: 0;
}
.hero {
  grid-area: hero;
}
@media screen and (min-width: 1000px) {
  .hero {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
  }
}
.hero__image {
  min-height: 100vh;
  object-fit: cover;
}
.description {
  text-align: start;
  margin-top: 50px;
  padding: 0 20%;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.description__title {
  margin: 0;
  font-size: 6rem;
  margin-bottom: 40px;
}
.description__title--desaturated {
  font-size: 6rem;
}
.description__text {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 20px;
}
