desaturatedRed = hsl(0, 36%, 70%)
softRed = hsl(0, 93%, 68%)
darkGrayishRed = hsl(0, 6%, 24%)

linearWhite = linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%))
linearDesaturatedRed = linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%))

shadow = 14px 17px 31px 0px rgba(180,180,180,0.75)

fontSize = 1.6rem

fwThin = 300
fwNormal = 400
fwBold = 600