@import './_reset-styles.styl'
@import './_tokens.styl'

html
	font-family ffPrimary
	background linearWhite
	min-height 100vh

body
	max-width 550px
	margin 0 auto

.header
	height 100px
	display flex
	align-items center
	&__image
		margin-left 30px

.hero
	width 100%
	&__image
		width 100%
		height auto

.description
	text-align center
	padding 30px
	&__title
		font-size 4rem
		text-transform uppercase
		color darkGrayishRed
		letter-spacing 10px
		max-width 400px
		margin 0 auto
		&--desaturated
			font-size 4rem
			text-transform uppercase
			color desaturatedRed
			font-weight 300
			letter-spacing 10px
			margin-bottom 0
	&__text
		color desaturatedRed
	&__input
		text-align start
		position relative
		padding-top 5px
		margin-bottom 100px
		&__text-area
			height 50px
			width 100%
			border-radius 50px
			border none
			border 1px solid desaturatedRed
			padding-left 15px
			outline none
			font-size 2rem
			color darkGrayishRed
			background-color linearWhite
			&.active
				border 1px solid red
				background-image url('../images/icon-error.svg')
				background-repeat no-repeat
				background-position 12px
				background-position-x calc(100% - 95px)
			&::placeholder
				color desaturatedRed
		&__button
			position absolute
			width 90px
			cursor pointer
			height 52px
			background linearDesaturatedRed
			border none
			border-radius 50px
			box-shadow shadow
			right 0
			margin-top -1px
			transition .3s
			&:hover
				background lighten(softRed, 70%)
				transform scale(1.05)
		&__error-message
			font-size 1.4rem
			margin-top 4px
			margin-left 20px
			color red
			display none
			&.active
				display block

@media screen and (min-width 1000px)
	body
		display grid
		max-width 100%
		min-height 100vh
		grid-template-columns 1fr 40%
		grid-template-rows 100px 1fr
		grid-template-areas:  "header  hero"\
													"content hero";

.header
	padding 0 20%
	&__image
		margin 0

.hero
	grid-area hero
	&__image
		min-height 100vh
		object-fit cover

.description
	text-align start
	margin-top 50px
	padding 0 20%
	background-image url('../images/bg-pattern-desktop.svg')
	background-repeat no-repeat
	background-position bottom right
	&__title
		margin 0
		font-size 6rem
		margin-bottom 40px
		&--desaturated
			font-size 6rem
	&__text
		font-size 2rem
		line-height 3rem
		margin-bottom 20px